################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelSearch
/src/HotelSearch.Infrastructure/bin/Debug/net5.0
/src/HotelSearch.Infrastructure/obj
/src/HotelSearch.Web/.vscode
/tests/HotelSearch.Infrastructure.Tests/bin/Debug/net5.0
/tests/HotelSearch.Infrastructure.Tests/obj
